SMARTVOYAGE_PROVIDER=openai_compatible
SMARTVOYAGE_MODEL_NAME=qwen-plus-0112

# provider=openai_compatible 时使用
SMARTVOYAGE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
SMARTVOYAGE_API_KEY=

# provider=ollama 时使用
SMARTVOYAGE_OLLAMA_BASE_URL=http://127.0.0.1:11434

SMARTVOYAGE_DB_HOST=localhost
SMARTVOYAGE_DB_USER=root
SMARTVOYAGE_DB_PASSWORD=123456
SMARTVOYAGE_DB_NAME=travel_rag


# LangSmith 环境变量
LANGSMITH_API_KEY=


SMARTVOYAGE_TIMEZONE=Asia/Shanghai
SMARTVOYAGE_NOW_OVERRIDE=
SMARTVOYAGE_ORDER_CHECKPOINT_PATH=data/checkpoints/transport_order.pkl
